@page "/myprofile"
@rendermode InteractiveServer

@using WriteOn.Components.Layout

@layout WriteOn.Components.Layout.MainLayout

@inject NavigationManager NavigationManager

<PageTitle>my profile</PageTitle>

<head>
    <link href="css/profilepage.css" rel="stylesheet" />
</head>

<div class="profile-container">
    <div class="profile-header">
        <h2>my profile</h2>
    </div>
    <div class="profile-details">
        <div class="profile-info">
            <div class="profile-details">
                <span>username:</span>
                <span>PLACEHOLDER VALUE</span>
            </div>
            <div class="profile-details">
                <span>full name:</span>
                <span>PLACEHOLDER VALUE</span>
            </div>
            <div class="profile-details">
                <span>email:</span>
                <span>PLACEHOLDER VALUE</span>
            </div>
        </div>
    </div>
    <h2>my articles</h2>
    <div class="article-list">
        <h3>no articles yet</h3>
    </div>
    <h2>my reviews</h2>
    <div class="article-list">
        <h3>no reviews yet</h3>
    </div>
</div>

@code {
    // TODO: Get current user's data from the database using the id
    // in CurrentUserState, and replace above PLACEHOLDERS with
    // retrieved values
}
