@page "/"

@using WriteOn.Shared

@inject CurrentUserState CurrentUserState

<head>
    <link href="css/loginsignup.css" rel="stylesheet" />
</head>

<body>
    <h1>WriteOn</h1>
    <div class="container">
        <div class="login-form">
            <h2>login</h2>
            <form>
                <div class="form-group">
                    <label for="username">username</label>
                    <input type="text" id="username" name="username" @bind="CurrentUserState.Username" required>
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" id="password" name="password" @bind="CurrentUserState.Password" required>
                </div>
            </form>
            <a href="/loginhandler"><button type="submit" class="btn-primary">Login</button></a>
            <div class="link">
                <a href="/signup">don't have an account? sign up</a>
            </div>
        </div>
    </div>
</body>