@page "/review/{ArticleId}"

@layout MainLayout

@using WriteOn.Models

<head>
    <link href="css/reviewpage.css" rel="stylesheet" />
</head>

<body>
    <form method="post">
        <div class="form-group">
            <label for="content">your review</label>
            <textarea class="form-control" id="content" name="content" rows="10" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">submit review (Not Functional Yet)</button>
    </form>
</body>

@code {
    [Parameter]
    public string ArticleId { get; set; }
    // TODO
}