@page "/signup"

@using WriteOn.Shared

@inject NewUserState NewUserState
@inject NavigationManager NavigationManager

<head>
    <link href="css/loginsignup.css" rel="stylesheet" />
</head>

<body>
    <h1>WriteOn</h1>
    <div class="container">
        <div class="login-form">
            <h2>Sign Up</h2>
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" @bind="NewUserState.Username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" @bind="NewUserState.Email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" @bind="NewUserState.Password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" @bind="NewUserState.ConfirmPassword" required>
                </div>
            </form>
            <a href="/signuphandler"><button type="submit" class="btn-primary">Sign Up</button></a>
            <div class="link">
                <a href="/login">Already have an account? Login</a>
            </div>
        </div>
    </div>
</body>