@page "/user/{UserID}"

@layout MainLayout

@using WriteOn.Shared

@inject CurrentUserState CurrentUserState

<head>
    <link href="css/profilepage.css" rel="stylesheet" />
</head>

<body>
    <div class="profile-container">
        <div class="profile-header">
            <h2>writer profile</h2>
        </div>
        <div class="profile-details">
            <div class="profile-info">
                <div class="profile-details">
                    <span>username:</span>
                    <span>PLACEHOLDER VALUE</span>
                </div>
                <div class="profile-details">
                    <span>full Name:</span>
                    <span>PLACEHOLDER VALUE</span>
                </div>
                <div class="profile-details">
                    <span>email:</span>
                    <span>PLACEHOLDER VALUE</span>
                </div>
            </div>
        </div>
        <h2>articles</h2>
        <div class="article-list">
            <h3>o articles yet</h3>
        </div>
        <h2>reviews</h2>
        <div class="article-list">
            <h3>no reviews yet</h3>
        </div>
    </div>
</body>

@code {
    [Parameter]
    public string UserID { get; set; }

    // TODO: Get writer's data from the database using the UserID,
    // and replace above PLACEHOLDERS with retrieved values
}
