@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<head>
    <link href="css/mainlayout.css" rel="stylesheet" />
</head>

<div class="navigation-bar">
    <div class="navigation-buttons">
        <a href="/write" class="@(NavButtonClass("write"))">write</a>
        <a href="/myprofile" class="@(NavButtonClass("profile"))">profile</a>
        <a href="/home" class="@(NavButtonClass("home"))">home</a>
    </div>
    <div class="app-title">WriteOn</div>
</div>

@Body

@code {
    private string NavButtonClass(string buttonName)
    {
        return NavigationManager.Uri.Contains(buttonName) ? "active" : "";
    }
}